body {
	font-family: Calibri;
}

#welcome {
	text-align:center;
	font-weight:normal;
	font-family: serif;
}

.user {
	padding:0.5rem 1rem;
	border-bottom:1px solid black;
}

.message {
	float: right;
	color: #507DF0;
}

.message:hover {
	cursor: pointer;
	color: #000;
}

.mesForm {
	margin-top: 0.5rem;
	width: 95%;
	height: 4rem;
	font-family: sans-serif;
	display: none;
}
.btns {
	margin-top: 0.5rem;
	display: none;
}
#userMessages {
	width: 25%;
	position: absolute;
	top: 7%;
	left: 70%;
}
#chat {
	background-color: #fd0;
	border: 1px solid #000;
	width: 100%;
}
.userMes {
	box-shadow: 0 0 4px #000;
	padding: 0.3rem 1rem;
	margin: 0.5rem;
	background-color: #fff;
}
.showMes {
	float: right;
	font-weight: bold;
	cursor: pointer;
}
.showMes:active {
	font-weight: normal;
}
.from {
	border-bottom: 1px solid #808080;
}
.mes {
	padding: 0.5rem;
	display: none;
}
.date {
	font-weight: normal;
	font-size: 70%;
	margin-top: 1rem;
} 

#basic_chat {
	position: absolute;
	box-shadow: 0 0 4px #000;
	width: 30%;
	top: 15%;
	left: 35%;
	background-color: #E7E7E7;
}

.message_block {
	margin: 1rem;
	padding:  1rem;
	border-bottom: 1px solid #000;
}

.user_message {
	padding: 0.4rem 1rem;
	background-color: #fff;
	box-shadow: 0 0 4px #000;
}

.username {
	margin-bottom: 6px;
}

.self {
	background-color: #5CAFF7;
	color: #fff;
}

